@model IEnumerable<Bonificacao.Web.Models.UsuarioModel>
@{ ViewBag.Title = "Usuários"; }

@Html.Box("Usuários", "Lista de usuários do sistema",
    @<text>
        <p>
            @Html.ActionLink("Cadastrar", "Cadastro", "Conta")
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                        <th>@Html.DisplayNameFor(model => model.Estabelecimento)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var it in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => it.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => it.Email)</td>
                            <td>@Html.DisplayFor(modelItem => it.Tipo)</td>
                            <td>@Html.DisplayFor(modelItem => it.Estabelecimento)</td>
                            <td>@Helpers.Delete("Conta", "DeletarUsuario", it.Id)</td>
                            @*<td>@Html.ActionLink("Deletar", "DeletarUsuario", "Conta", new { id = it.Id }, null)</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </text>)
