@model IEnumerable<Bonificacao.Data.Produto>
@{ ViewBag.Title = "Produtos"; }

@Html.Box("Lista de Produtos", "Aqui você pode gerenciar os produtos do sistema",
    @<text>
        <p>
            @Html.ActionLink("Cadastrar", "Cadastrar")
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Preco)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var it in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => it.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => it.Preco)</td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = it.Id }) | @Html.ActionLink("Deletar", "Deletar", new { id = it.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </text>)
