@model IEnumerable<Bonificacao.Data.Movimento>

<div id="movimentacoes" class="padding-top">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ClienteId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstabelecimentoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VendedorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMovimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorBonus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SaldoBonus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estabelecimento.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendedor.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMovimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorBonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SaldoBonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorPago)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>